<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/interfaz/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap"
        rel="stylesheet">
<div class="hero">
    <nav class="navbar">
        <h2 class="logo">Sistema <span>fugas</span></h2>
        <ul>
        <li><a href="#"></a></li>
        </ul>
        <form action="/dashboard" method="get">
            <button class="perfil" type="submit">regresar</button>
        </form>
    </nav>
</div>