/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
}

/* Estilos de la hero */
.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://png.pngtree.com/background/20220727/original/pngtree-digital-circuit-design-on-a-dark-blue-background-picture-image_1833526.jpg');  
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero2{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  position: relative;

}

/* Estilos del navbar */
.navbar {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.498);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: red;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: red;
    transition: 0.3s;
}

.perfil {
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.4s;
}

.perfil:hover {
    transform: scale(1.3);
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
}

/* Estilos del perfil de usuario */
.main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f91e;
}

.main h1 {
    margin: 0;
}

.main .comp {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.comp1 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.main div {
    margin-bottom: 10px;
}

.main label {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-right: 10px;
}

.main span {
    color: white;
    font-weight: normal;
}

.main a {
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.4s;
}

.main a:hover {
    background-color: #555;
}

/*main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  span {
    font-weight: normal;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }*/